/* Acceso.module.css */
.container {
    display: flex;
    width: 100%;
    height: 100vh;
  }
  
  .formContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .formContent {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .input {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .submitButton {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
  }
  
  .switchContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .switchButton {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #4caf50;
    color: white;
  }
  