.wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.scrollContainer {
    width: 100%;
    overflow: hidden;
}

.scrollContent {
    display: flex;
    width: fit-content;
}

.ul {
    display: flex;
    list-style: none;    
    padding: 0;
    margin: 0;
    gap: 0.25rem;
    align-items: center;
    flex-shrink: 0;
    animation: scroll 40s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 768px) {
    .ul {
        animation-duration: 10s;
    }
}